# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# User mode sdk make files
drivers/usermode-sdk/Makefile
drivers/usermode-sdk/Makefile.conf
drivers/usermode-sdk/config.status

# kernel intermedate files
*.o.cmd
*.cmd
*.mod
*.mod.c
*.ko
modules.order
Module.symvers
.tmp_versions

# Mac os DS_Store
.DS_Store

# Visual Studio user related project files
*.opensdf
*.sdf
*.suo
*.tlog
*.log
*.user

# XCode user related project files
xcshareddata
xcuserdata

# Build result
Debug
Release
build
doc

# VIM
*.swp
